################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/webDinamikAnketMVC/FileContentIndex/0b8b5224-2c77-41ec-92ea-2c9d45e9a4b8.vsidx
/.vs/webDinamikAnketMVC/FileContentIndex/3ec8ca54-7c3d-48bb-b791-0643cae3c280.vsidx
/.vs/webDinamikAnketMVC/FileContentIndex/54d0082a-f4c2-4b15-a983-e7147752af0c.vsidx
/.vs/webDinamikAnketMVC/FileContentIndex/6c4c3608-e70b-4cb5-925b-f83120bd3ad4.vsidx
/.vs/webDinamikAnketMVC/FileContentIndex/9030e4d1-c62f-4cce-bcdf-9ce5492fbc76.vsidx
